@model Director

@{
    ViewData["Title"] = "Update Director";
}

<div class="row">
    <div class="col-md-8 offset-2">
        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <h4>Update - @Model.FullName</h4>

            <div class="row">
                <div class="col-md-8 offset-2">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger">
                        </div>
                        <div class="form-group text-center">
                            <label asp-for="PpURL" class="control-label"> Picture URL</label>
                            <input asp-for="PpURL" class="form-control" />
                            <span asp-validation-for="PpURL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Bio" class="control-label"></label>
                            <input asp-for="Bio" class="form-control" />
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-outline-info float-end" />


                        </div>
                    </form>

                </div>
            </div>
        }
        
    </div>

</div>